.main__title-previous-rulings {
  font-family: "Mukta Malar", sans-serif;
  font-weight: 400;
}

.main_ruling-container {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  transform: translate(0, 0);
  transition: transform 0.5s ease-in;

  &:focus {
    cursor: grab !important;
  }
}

.main__previous-rulings-item {
  background-color: $white;
  position: relative;
  display: flex;
  justify-content: center;
  height: 80vw;
  width: 80vw;
  max-width: 300px;
  max-height: 300px;
  margin-left: 1rem;
  padding: 0;
}

.main_name-of-famous {
  position: absolute;
  font-family: "Mukta Malar", sans-serif;
  font-weight: 600;
  font-size: 35px;
  color: $white;
  top: 32%;
  left: 11%;
}

.famous-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.main__button-container {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 30%;
  left: 0;
  width: 3.2rem;
  height: 3.2rem;
}

.main__thums-up {
  background-color: $green-positive;
}

.main__thums-down {
  background-color: $yellow-negative;
}

.main__description {
  width: 90%;
  position: absolute;
  // font-family: "Mukta Malar", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: $white;
  top: 47%;
  left: 11%;
  line-height: 17px;
}

.main__update-and-category {
  width: 90%;
  position: absolute;
  font-weight: 700;
  font-size: 12px;
  color: $white;
  top: 62%;
  left: 40%;
  line-height: 17px;
}

.main__selection-button-thumbs-up {
  display: flex;
  justify-content: center;
  width: 2.8rem;
  height: 2.8rem;
  position: absolute;
  font-size: 12px;
  top: 75%;
  left: 35%;
  background-color: $green-positive;
}

.main__selection-button-thumbs-down {
  display: flex;
  justify-content: center;
  width: 2.8rem;
  height: 2.8rem;
  position: absolute;
  font-size: 12px;
  top: 75%;
  left: 50%;
  background-color: $yellow-negative;
}

.main__selection-button-vote-now {
  height: 2.8rem;
  width: 8rem;
  position: absolute;
  font-family: "Mukta Malar", sans-serif;
  border: 1.5px solid rgba(235, 235, 235, 1);
  background-color: transparentize($darker-gray, 0.2);
  color: $white;
  font-size: 16px;
  top: 75%;
  left: 65%;
}

.main__container-votes {
  height: 2.8rem;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  // justify-content: space-between;
  top: calc(80vw - 2.8rem);
  left: 0%;
  padding: 0;
}

.main_positive {
  position: relative;
  background-color: transparentize($green-positive, 0.3);
  height: 100%;
  width: 50%;
}

.main_negative {
  position: relative;
  background-color: transparentize($yellow-negative, 0.3);
  height: 100%;
  width: 50%;
}

.main__positive-percentaje {
  display: flex;
  padding-top: 0.3rem;
  padding-left: 1rem;
  flex-direction: row;
  justify-content: start;
}

.main__negative-percentaje {
  position: absolute;
  display: flex;
  padding-top: 0.3rem;
  padding-right: 1rem;
  flex-direction: row;
  left: 75%;
  justify-content: flex-end;
}

.main__text-percentaje {
  color: $white;
  font-size: 17px;
  margin-left: 0.5rem;
  font-weight: 500;
}

.main__thumbs-up-icon {
}

.main__thumbs-down-icon {
  padding-top: 4px;
}
