.main__title-previous-rulings {
  font-family: "Mukta Malar", sans-serif;
  font-weight: 400;
}

.main_ruling-container {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  transform: translate(0, 0);
  transition: transform 0.5s ease-in;

  &:focus {
    cursor: grab !important;
  }
}

.main__previous-rulings-item {
  background-color: $white;
  position: relative;
  display: flex;
  justify-content: center;
  height: 80vw;
  width: 80vw;
  max-width: 300px;
  max-height: 300px;
  margin-left: 1rem;
  padding: 0;
}

.main_name-of-famous {
  position: absolute;
  font-family: "Mukta Malar", sans-serif;
  font-weight: 600;
  font-size: 35px;
  color: $white;
  top: 32%;
  left: 11%;
}

.famous-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.main__button-container {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 30%;
  left: 0;
  width: 3.2rem;
  height: 3.2rem;
}

.main__thums-up {
  background-color: $green-positive;
}

.main__thums-down {
  background-color: $yellow-negative;
}

.main__description {
  width: 90%;
  position: absolute;
  // font-family: "Mukta Malar", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: $white;
  top: 47%;
  left: 11%;
  line-height: 17px;
}
